.chat_all {
  list-style: none;
  width: 900px;
  height: 600px;
  position: relative;
  background: red;
}

.chat_all .header {
  font-size: 1.3em;
  font-weight: bold;
  width: 900px;
  height: 60px;
  background: #000080;
  color: white;
  text-align: center;
  line-height: 60px;
}

.chat_all .list_area {
  float: left;
  width: 120px;
  height: 540px;
  background: #eee;
  overflow-y: scroll;
}

.chat_all .list_area .user {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 2px #000000;
  color: white;
  width: 120px;
  height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  background: #848484;
}

.chat_all .list_area .list {
  width: 110px;
  height: 20px;
  padding-top: 7px;
  padding-left: 7px;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
}

.chat_all .chat_main {
  float: right;
  width: 780px;
  height: 540px;
  background: white;
  position: relative;
}

.chat_all .chat_main .message_area {
  width: 780px;
  height: 420px;
  position: relative;
  z-index: 1;
  overflow-y: scroll;
}

.chat_all .chat_main .message_area .leave {
  width: 200px;
  height: 40px;
  float: right;
  z-index: 2;
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
}

.chat_all .chat_main .message_area .nickname {
  clear: both;
}

.chat_all .chat_main .message_area .text {
  color: white;
  background-color: #848484;
  text-shadow: 0 0 2px #000000;
  border: solid;
  border-width: 1.5px;
  padding: 5px 10px 5px 10px;
  clear: both;
}

.chat_all .chat_main .time {
  font-size: 5px;
  margin-top: 17px;
}

.chat_all .chat_main .message_area .other {
  float: left;
  margin-left: 10px;
}

.chat_all .chat_main .message_area .me {
  float: right;
  margin-right: 10px;
}

.chat_all .chat_main .input_box {
  float: left;
}

.chat_all .chat_main>button {
  width: 115px;
  height: 120px;
  float: right;
}

input {
  width: 655px;
  height: 115px;
  line-height: 115px;
}

button {
  float: right;
  background: #000080;
  color: #fff;
  border: none;
  position: relative;
  height: 100%;

  font-size: 1em;
  padding: 0.8em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background: #fff;
  color: #000080;
}

button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0.2em;
  width: 0;
  background: #000080;
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.messagesEnd {
  float: left;
}