@import "_variables.scss";

.g_chat_all {
  list-style: none;
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.g_chat_all .g_header {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  height: 10vh;
  background: $g-chat-header;
  color: white;
  text-align: center;
  line-height: 10vh;
  position: relative;
}

.g_chat_all .g_header .g_leave {
  float: right;
  height: 10vh;
  position: relative;
}

.g_chat_all .g_header .g_leave>button {
  display: table-caption;
  font-size: 0.8em;
  background: $g-chat-header-leave;
  color: #fff;
  border: 2px solid white;
  position: relative;
  height: 50%;
  border-radius: 0.5em;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.g_chat_all .g_header .g_leave>button:hover {
  background: #fff;
  color: $g-chat-background;
  transition: 400ms ease all;
  border: 2px solid $g-chat-background;
}

.g_chat_all .g_header .g_leave>button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0.2em;
  width: 0;
  background: $g-chat-background;
  transition: 400ms ease all;
}

.g_chat_all .g_header .g_leave>button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.g_chat_all .g_header .g_leave>button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.g_chat_all .g_left_area {
  float: left;
  width: 15%;
  height: 75vh;
}

.g_chat_all .g_left_area .g_user {
  font-size: 1.2em;
  font-weight: bold;
  color: $g-chat-left-title-color;
  width: 100%;
  height: 3vh;
  line-height: 3vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-align: center;
  background: $g-chat-left-title;
  float: left;
  position: relative;
  @include box-shadow;
}

.g_chat_all .g_left_area .g_list_area {
  float: left;
  width: 100%;
  height: 84vh;
  background: #eee;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.g_chat_all .g_list_area .g_list {
  margin: 0.5em;
  width: calc(100% - 1.2em);
  height: 2em;
  text-align: center;
  border-radius: 0.5em;
  line-height: 2em;
  background: #c2c2c2;
  cursor: pointer;
  @include box-shadow;
  @include animate(slideUp);
}

.g_chat_all .g_list_area .g_list:hover {
  margin: 0.5em;
  width: calc(100% - 1.2em);
  color: white;
  background: $g-chat-left-list-hover;
}

.g_chat_all .g_chat_main {
  float: right;
  width: 85%;
  height: 70vh;
  background: white;
  position: relative;
}

.g_chat_all .g_chat_main .g_message_area {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow-y: auto;
}


.g_chat_all .g_chat_main .g_message_area .g_nickname {
  font-size: 1em;
  margin-left: 1.2em;
  clear: both;
}

.g_chat_all .g_chat_main .g_message_area .g_text {
  margin-top: 0.2em;
  word-break: break-all;
  max-width: 50%;
  color: white;
  font-size: 1.2em;
  background-color: $g-chat-text-background;
  border-radius: 0.8em;
  padding: 0.2em 1em;
  clear: both;
  @include box-shadow;
}

.g_chat_all .g_chat_main .g_time {
  font-size: 0.7em;
  margin-top: 2.9em;
}

.g_chat_all .g_chat_main .g_message_area .g_other {
  float: left;
  margin-left: 0.8em;
  @include animate(rightIn);
}

.g_chat_all .g_chat_main .g_message_area .g_me {
  float: right;
  margin-right: 0.8em;
  @include animate(leftIn);
}

.g_chat_all .g_bottom_area {
  width: 100%;
  height: 20vh;
  position: relative;
  float: right;
}

.g_chat_all .g_bottom_area .g_send_area {
  width: calc(15% - 0.24em);
  height: 20.5vh;
  position: relative;
  float: right;
}

.g_chat_all .g_bottom_area .g_send_area>button {
  border: 0;
  display: table-caption;
  font-size: 0.8em;
  background: $g-chat-right-send;
  color: #fff;
  position: relative;
  border-radius: 0.5em;

  font-size: 1.2em;
  width: 100%;
  height: 100%;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.g_chat_all .g_bottom_area .g_send_area>button:hover {
  background: #fff;
  color: $g-chat-background;
}

.g_chat_all .g_bottom_area .g_send_area>button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0.2em;
  width: 0;
  background: $g-chat-background;
  transition: 400ms ease all;
}

.g_chat_all .g_bottom_area .g_send_area>button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.g_chat_all .g_bottom_area .g_send_area>button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.g_chat_all .g_bottom_area>input {
  width: 85%;
  height: 20vh;
  float: left;
  position: relative;
  border-style: solid;
  border-width: 0.05em 0.05em 0.05em 0.05em;
}

@media only screen and (max-width:768px) {
  .g_left_area {
    display: none;
  }

  .g_chat_all .g_left_area .g_list_area {
    display: none;
  }

  .g_chat_all .g_left_area .g_user {
    display: none;
  }

  .g_chat_all .g_left_area .g_list_area .g_list {
    display: none;
  }

  .g_chat_all .g_chat_main {
    width: 100%;
  }

  .g_chat_all .g_bottom_area {
    width: 100%;
  }

  .g_chat_all .g_bottom_area>input {
    width: 80%;
  }

  .g_chat_all .g_bottom_area .g_send_area {
    width: calc(20% - 0.22em);
    height: 20.5vh;
    position: relative;
    float: right;
    background: $g-chat-background;
  }
}

.messagesEnd {
  float: left;
}