@import "_variables.scss";

.p_chat_all {
  list-style: none;
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.p_chat_all .p_header {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  height: 10vh;
  background: $g-chat-header;
  color: white;
  text-align: center;
  line-height: 10vh;
  position: relative;
}

.p_chat_all .p_header .p_leave {
  float: right;
  height: 10vh;
  position: relative;
}

.p_chat_all .p_header .p_leave>button {
  display: table-caption;
  font-size: 0.8em;
  background: $g-chat-header-leave;
  color: #fff;
  border: 2px solid white;
  position: relative;
  height: 50%;
  border-radius: 0.5em;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.p_chat_all .p_header .p_leave>button:hover {
  background: #fff;
  color: $g-chat-background;
  transition: 400ms ease all;
  border: 2px solid $g-chat-background;
}

.p_chat_all .p_header .p_leave>button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0.2em;
  width: 0;
  background: $g-chat-background;
  transition: 400ms ease all;
}

.p_chat_all .p_header .p_leave>button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.p_chat_all .p_header .p_leave>button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.p_chat_all .p_left_area {
  float: left;
  width: 15%;
  height: 90vh;
}

.p_chat_all .p_left_area .p_user {
  font-size: 1.2em;
  font-weight: bold;
  color: $g-chat-left-title-color;
  width: 100%;
  height: 3vh;
  line-height: 3vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-align: center;
  background: $g-chat-left-title;
  float: left;
  position: relative;
  @include box-shadow;
}

.p_chat_all .p_left_area .p_list_area {
  float: left;
  width: 100%;
  height: 65vh;
  background: #eee;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.p_chat_all .p_list_area .p_list {
  margin: 0.5em;
  width: calc(100% - 1.2em);
  height: 2em;
  text-align: center;
  border-radius: 0.5em;
  line-height: 2em;
  background: #c2c2c2;
  cursor: pointer;
  @include box-shadow;
  @include animate(slideUp);
}

.p_chat_all .p_list_area .p_list:hover {
  margin: 0.5em;
  width: calc(100% - 1.2em);
  color: white;
  background: $g-chat-left-list-hover;
}

.p_chat_all .p_chat_main {
  float: right;
  width: 85%;
  height: 70vh;
  background: white;
  position: relative;
}

.p_chat_all .p_chat_main .p_message_area {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow-y: auto;
}


.p_chat_all .p_chat_main .p_message_area .p_nickname {
  font-size: 1em;
  margin-left: 1.2em;
  clear: both;
}

.p_chat_all .p_chat_main .p_message_area .p_text {
  margin-top: 0.2em;
  word-break: break-all;
  max-width: 50%;
  color: white;
  font-size: 1.2em;
  background-color: $g-chat-text-background;
  border-radius: 0.8em;
  padding: 0.2em 1em;
  clear: both;
  @include box-shadow;
}

.p_chat_all .p_chat_main .p_time {
  font-size: 0.7em;
  margin-top: 1.7em;
}

.p_chat_all .p_chat_main .p_message_area .p_other {
  float: left;
  margin-left: 0.8em;
  @include animate(rightIn);
}

.p_chat_all .p_chat_main .p_message_area .p_me {
  float: right;
  margin-right: 0.8em;
  @include animate(leftIn);
}

.p_chat_all .p_chat_main .p_message_area .p_system {
  background: $g-chat-system-background;
  max-width: 70vh;
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  @include animate(slideUp);
}


.p_chat_all .p_bottom_area {
  width: 100%;
  height: 20vh;
  position: relative;
}

.p_chat_all .p_bottom_area .p_send_area {
  width: 15%;
  height: 100%;
  position: relative;
  float: right;
}

.p_chat_all .p_bottom_area .p_send_area>button {
  border: 0;
  display: block;
  background: $g-chat-right-send;
  color: #fff;
  position: relative;
  border-radius: 0 0.5em 0.5em 0;

  font-size: 1.2em;
  width: 100%;
  height: 100%;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.p_chat_all .p_bottom_area .p_send_area>button:hover {
  background: #fff;
  color: $g-chat-background;
}

.p_chat_all .p_bottom_area .p_send_area>button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0.2em;
  width: 0;
  background: $g-chat-background;
  transition: 400ms ease all;
}

.p_chat_all .p_bottom_area .p_send_area>button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.p_chat_all .p_bottom_area .p_send_area>button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.p_chat_all .p_bottom_area>input {
  width: calc(85% - 0.1em);
  padding: 0;
  height: calc(100% - 0.1em);
  float: left;
  position: relative;
  border: 0.05em black solid;
  border-radius: 0.5em 0 0 0.5em;
}

.p_chat_all .p_list_area .p_search {
  width: 15%;
  height: 20vh;
  background: #eee;
  bottom: 0;
  position: fixed;
}

.p_chat_all .p_list_area .p_search>input {
  width: calc(100% - 0.1em);
  height: calc(8vh - 0.1em);
  position: relative;
  border: 0.05em black solid;
  border-radius: 0 0.5em 0 0;
  border-style: solid;
  padding: 0;
}

.p_chat_all .p_list_area .p_search>button {
  font-size: 1.3em;
  width: 100%;

  margin-top: 0.2em;
  background: #000080;
  color: #fff;
  border: none;
  position: relative;
  height: 12vh;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  padding: 0;
}

.p_chat_all .p_list_area .p_search>button:hover {
  background: #fff;
  color: #000080;
}

.p_chat_all .p_list_area .p_search>button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0.2em;
  width: 0;
  background: #000080;
  transition: 400ms ease all;
}

.p_chat_all .p_list_area .p_search>button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.p_chat_all .p_list_area .p_search>button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

@media only screen and (max-width:768px) {
  .p_chat_all .p_left_area {
    width: 100%;
    height: 5vh;
  }

  .p_chat_all .p_left_area .p_list_area {
    height: 5vh;
  }

  .p_chat_all .p_left_area .p_list_area .p_search {
    position: relative;
    width: 100%;
    height: 5vh;
  }

  .p_chat_all .p_left_area .p_list_area .p_search>input {
    width: calc(80% - 0.1em);
    height: calc(5vh - 0.1em);
    border-radius: 0 0 0 0.5em;
  }

  .p_chat_all .p_left_area .p_list_area .p_search>button {
    width: 20%;
    height: 5vh;
    float: right;
    font-size: 0.8em;
  }

  .p_chat_all .p_left_area .p_user {
    display: none;
  }

  .p_chat_all .p_left_area .p_list_area .p_list {
    display: none;
  }

  .p_chat_all .p_chat_main {
    width: 100%;
    height: 68vh;
  }

  .p_chat_all .p_chat_main .p_message_area {
    height: 68vh;
  }

  .p_chat_all .p_bottom_area {
    width: 100%;
    height: 17vh;
  }

  .p_chat_all .p_bottom_area>input {
    width: calc(80% - 0.1em);
  }

  .p_chat_all .p_bottom_area .p_send_area {
    width: 20%;
    height: 100%;
    position: relative;
    float: right;
    background: $g-chat-background;
  }
}

.messagesEnd {
  float: left;
}